<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings><default><MaxMotionSegmets>12</MaxMotionSegmets><language>Doich</language></default><current><MaxMotionSegmets>12</MaxMotionSegmets><workspacePath>D:\Cosmin\Workspace\kurve_git\kurve</workspacePath><language>Doich</language></current></settings>