<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings><default><MaxMotionSegmets>12</MaxMotionSegmets><language>Doich</language></default><current><MaxMotionSegmets>12</MaxMotionSegmets><workspacePath>E:\working folder\proiect_mec\2. Software\Current\kurve\workspace</workspacePath><language>Doich</language></current></settings>